body {
  background-color: paleturquoise;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  background-color: aliceblue;
  padding: 10px;
  width: 25%;
  height: auto;
  border: 1px solid rgb(240, 224, 224);
  border-radius: 20px;
  margin: 0px auto;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: x-large;
  color: darkblue;
}
.form {
  margin: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
  color: darkblue;
  font-weight: 900;
}
input {
  height: 40px;
  width: 100%;
  border: 1px solid black;
  border-radius: 0px 16px;
}
#sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: chartreuse;
  font-weight: 500;
}
button {
  display: block;
  margin: 0 auto;
  background-color: lightblue;
  color: black;
  font-weight: 900;
  padding: 15px;
  border: 10px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: deepskyblue;
  color: white;
}